<div class="container mt-5">
    <h2>Feed</h2>
     <!-- Upgrade User Modal -->
  <div *ngIf="startPayment">
    <div>
      <div >
      
        <!-- Toggle visibility based on startPayment -->
        <div *ngIf="startPayment" >
          <div #paymentRef>
            <!-- Additional content for upgrade -->
            <h3>Upgrade to Premium</h3>
            <p>Unlock exclusive features with our premium subscription By paying only $20:</p>
            <ul style="font-style: italic;">
              <li>Access to unlimited posts</li>
              <li>Advanced commenting options</li>
              <li>Priority support</li>
            </ul>
            <app-upgrade-user></app-upgrade-user>
          </div>
          <!-- Cancel button -->
          <button class="btn btn-secondary" (click)="cancelUpgrade()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Login button -->
    <div *ngIf="!isLogedIn" class="login-button" style="position: absolute; top: 20px; right: 20px;">
      <button class="btn btn-primary" routerLink="/login">Login</button>
      
     </div>
     
    <!-- Logout button -->
    <div *ngIf="isLogedIn" class="login-button" style="position: absolute; top: 20px; right: 20px;">
      <button class="btn btn-primary" routerLink="/feed" (click)="logut()">Logout</button>
      <a routerLink="/profile">
        <i class="fas fa-user"></i>Profile
      </a>
    </div>
    <!-- Posts loop -->
   <div  *ngIf="!startPayment" >
    <div  *ngFor="let post of posts" class="card mt-3">
        <!-- Card content -->
        <div class="card-body">
          <p class="card-subtitle text-muted">Posted by User ID: {{ post.userId }}</p>
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <!-- Like and Comment buttons -->
          <div class="post-interactions">
            <!-- Like button -->
            <button class="btn btn-link like-button" (click)="likePost(post.id)" title="Like">
              <i class="fas fa-heart"></i> {{totalLikes}}
            </button>
            <!-- Comment button -->
            <button class="btn btn-link comment-button" (click)="commentOnPost(post.id)" title="Comment">
              <i class="fas fa-comment"></i> {{totalComments}}
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation buttons -->
      <div class="mt-3">
        <button class="btn btn-primary" (click)="openPostDialog()">Post New Feed</button>
        <button class="btn btn-primary" (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
   </div>
   
  </div>
  